.app {
  margin: 0;
  min-height: 100vh;
  background-color: black;
  /* background: linear-gradient(325deg, #39caa5, #df8755, #4f4f5a, #f1cccc);
  background-size: 800% 800%;
  animation: AnimationName 5s ease infinite; */
}

@keyframes AnimationName {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 96%;
  }
  100% {
    background-position: 0% 5%;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(130, 99, 148);
}

.animeGalaxy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: scroll;
  justify-content: center;
}

.animeGalaxy .car-title {
  color: red;
  font-weight: 700;
}

.animeGalaxy > * {
  flex-basis: 20rem;
  flex-shrink: 0;
}

.animeGalaxy .card {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgb(250, 249, 249);
  box-shadow: inset 0 0 30px #000000;
  margin: 10px 10px;
}

.animeGalaxy .card > .card-content {
  flex-grow: 1;
  flex-basis: 12rem;
  overflow: scroll;
}

.animeGalaxy .card-content {
  /* position: absolute; */
}

.animeGalaxy .card > .card-image {
  flex-basis: 25rem;
  flex-shrink: 2;
  overflow-y: hidden;
}

.animeGalaxy .card > .card-image {
  flex-basis: 13rem;
}

.card-reveal {
  background-color: rgba(182, 73, 73, 0.644);
}

/* @media only screen and(max-width: 600px) {
  .animeGalaxy .card > .card-content {
    flex-basis: 2rem;
  }
} */

.cardLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: scroll;
  justify-content: space-evenly;
}

.cardLinks a {
  color: rgba(10, 10, 10, 0.37);
  font-size: 20px;
}

.cardLinks a:hover {
  color: rgb(43, 145, 228);
  border-bottom: 2px solid orange;
}

.iconLink {
  color: black;
}

.homeIcon {
}
.mainDetail-container {
  display: flex;
  justify-content: center;
}

.animeDetail-container {
  border: 4px solid black;
}

.wallpaper {
  width: 100%;
  height: 300px;
}

.deleteButton {
  width: 100px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
