.App {
  text-align: center;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.animeGalaxy {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  justify-content: stretch;
}

.animeGalaxy .car-title {
  color: red;
  font-weight: 700;
}

.animeGalaxy > * {
  flex-basis: 20rem;
  flex-shrink: 0;
}

.animeGalaxy .card {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.animeGalaxy .card > .card-content {
  flex-grow: 1;
  flex-basis: 12rem;
  overflow: scroll;
}

.animeGalaxy .card > .card-image {
  flex-basis: 25rem;
  flex-shrink: 2;
  overflow-y: hidden;
  background-color: rgba(194, 189, 189, 0.644);
}

.animeGalaxy .card > .card-image {
  flex-basis: 15rem;
}

.icon {
  height: 15px;
}
